In [1]:
import pandas as pd
import numpy as np
import os
from pyspark.sql import SparkSession
import pyspark.sql.functions as Fq
from pyspark.sql.window import Window
from pyspark.sql.functions import countDistinct

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 300)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

"""
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, StratifiedKFold
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve, auc, make_scorer, f1_score
import matplotlib.pyplot as plt
"""

In [3]:
%%time
# spark session
os.environ['SPARK_HOME'] = "/opt/cloudera/parcels/CDH/lib/spark/"
os.environ['PYSPARK_PYTHON'] = '/opt/cloudera/parcels/Anaconda/envs/py36/bin/python'
os.environ['PYSPARK_DRIVER_PYTHON'] = '/opt/cloudera/parcels/Anaconda/envs/py36/bin/python'

spark = SparkSession.builder \
    .master("yarn") \
    .appName("test") \
    .enableHiveSupport() \
    .config("spark.submit.deployMode","client") \
    .config("spark.yarn.appMasterEnv.PYSPARK_PYTHON","/opt/cloudera/parcels/Anaconda/envs/py36/bin/python") \
    .config("spark.yarn.appMasterEnv.PYSPARK_DRIVER_PYTHON","/opt/cloudera/parcels/Anaconda/envs/py36/bin/python") \
    .config("spark.driver.memory","8g") \
    .config("spark.executor.memory","16g") \
    .getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x7fe98b68e860>
CPU times: user 21.1 ms, sys: 22.5 ms, total: 43.6 ms
Wall time: 32.3 s

In [4]:
from datetime import datetime, timedelta

def generate_dates():
    start_date = datetime.strptime('2022-08-01', '%Y-%m-%d')
    end_date = datetime.strptime('2023-09-01', '%Y-%m-%d')
    current_date = start_date
    date_list = []

    while current_date <= end_date:
        date_list.append(current_date.strftime('%Y-%m-%d'))
        # Increment by one month
        if current_date.month == 12:
            current_date = current_date.replace(year=current_date.year+1, month=1)
        else:
            current_date = current_date.replace(month=current_date.month+1)

    return date_list

dates = generate_dates()

tables = ['exp_clr_balance_v2', 'exp_data_v2', 'exp_device_v2', 'exp_interco_v2', 'exp_prep_arpu_v2', 'exp_parc_prep_v2', 
          'exp_pass_v2', 'exp_rech_v2', 'exp_roam_v2', 'exp_vas_v2', 'exp_voix_v2']

In [5]:
dates

['2022-08-01',
 '2022-09-01',
 '2022-10-01',
 '2022-11-01',
 '2022-12-01',
 '2023-01-01',
 '2023-02-01',
 '2023-03-01',
 '2023-04-01',
 '2023-05-01',
 '2023-06-01',
 '2023-07-01',
 '2023-08-01',
 '2023-09-01']

In [6]:
k = 3 

date_start = dates[k]
date_end = dates[k+1]
date_final_obs = dates[k+3]
date_data_origin = dates[k-3]

In [7]:
l = [date_start, date_end, date_final_obs, date_data_origin]
l

['2022-11-01', '2022-12-01', '2023-02-01', '2022-08-01']

In [8]:
exp_sdp_remboursement_recharge_v2 = spark.sql(f"""SELECT * 
FROM 
tel_test_avrd.exp_sdp_remboursement_recharge_v2 
WHERE event_time >= '{date_start}' AND event_time < '{date_final_obs}'""")
exp_sdp_remboursement_recharge_v2.show(n=2, vertical=True)

-RECORD 0------------------------------------
 final_anon_mdn       | 29010156965826191...
 event_time           | 2023-01-16 22:40:02
 profile_id           | 84001
 segment              | B2C
 formule              | Prepaid
 desc_profil          | TicTac 4G
 produit              | TicTac 4G
 gamme                | TicTac
 marche               | Mobile Prepaid
 balance_debit_before | 200
 balance_debit_after  | 0
 account_type_id_1    | 5121
 bal1_descr           | DATA
 bal1_unit            | MO
 bal1_revenue_flag    | N
 account_type_id_2    | 5201
 bal2_descr           | Report DATA
 bal2_unit            | MO
 bal2_revenue_flag    | N
 account_type_id_3    |
 bal3_descr           | null
 bal3_unit            | null
 bal3_revenue_flag    | null
 account_type_id_4    |
 bal4_descr           | null
 bal4_unit            | null
 bal4_revenue_flag    | null
 account_type_id_5    |
 bal5_descr           | null
 bal5_unit            | null
 bal5_revenue_flag    | null
 account_type_id_6    |
 bal6_descr           | null
 bal6_unit            | null
 bal6_revenue_flag    | null
 amount_debited_1     | 200000000
 amount_debited_2     | 4
 amount_debited_3     | null
 amount_debited_4     | null
 amount_debited_5     | null
 amount_debited_6     | null
 balance_ab_normal    |
 status               | 0
 recharge_channel     | 4
 access_method        | 3
 cust_level           | 1
 recharge_time        | 2023-01-16 22:39:50
 recharge_value       | 500
 recharge_type        | 1
 star_code            | 3
 trade_type           | 7
 price_before         | null
 price_after          | null
 initial_price        | null
 initial_debt         | null
 scoring_id           | null
 ingestion_timestamp  | 20230116221001
 ingestion_date       | 20230116
 filename             | Remb_rech_230116_...
 event_date           | 20230116
-RECORD 1------------------------------------
 final_anon_mdn       | 24470880220971245...
 event_time           | 2023-01-16 22:18:50
 profile_id           | 5291
 segment              | B2C
 formule              | Prepaid
 desc_profil          | TicTac
 produit              | TicTac
 gamme                | TicTac
 marche               | Mobile Prepaid
 balance_debit_before | 200
 balance_debit_after  | 0
 account_type_id_1    | 5121
 bal1_descr           | DATA
 bal1_unit            | MO
 bal1_revenue_flag    | N
 account_type_id_2    |
 bal2_descr           | null
 bal2_unit            | null
 bal2_revenue_flag    | null
 account_type_id_3    |
 bal3_descr           | null
 bal3_unit            | null
 bal3_revenue_flag    | null
 account_type_id_4    |
 bal4_descr           | null
 bal4_unit            | null
 bal4_revenue_flag    | null
 account_type_id_5    |
 bal5_descr           | null
 bal5_unit            | null
 bal5_revenue_flag    | null
 account_type_id_6    |
 bal6_descr           | null
 bal6_unit            | null
 bal6_revenue_flag    | null
 amount_debited_1     | 200000113
 amount_debited_2     | null
 amount_debited_3     | null
 amount_debited_4     | null
 amount_debited_5     | null
 amount_debited_6     | null
 balance_ab_normal    |
 status               | 0
 recharge_channel     | -1
 access_method        | 3
 cust_level           | 4050376
 recharge_time        | 2023-01-16 22:18:34
 recharge_value       | 500
 recharge_type        | 1
 star_code            | 3
 trade_type           | 7
 price_before         | null
 price_after          | null
 initial_price        | null
 initial_debt         | null
 scoring_id           | null
 ingestion_timestamp  | 20230116221001
 ingestion_date       | 20230116
 filename             | Remb_rech_230116_...
 event_date           | 20230116
only showing top 2 rows

In [9]:
exp_sdp_avr_v2 = spark.sql(f"""SELECT * 
    FROM tel_test_avrd.exp_sdp_avr_v2 
    WHERE timestamp >= '{date_start}' AND timestamp < '{date_end}' 
    ORDER BY RAND() LIMIT 100000""")
exp_sdp_avr_v2.show(n=2, vertical=True)

Py4JJavaError: An error occurred while calling o120.showString.
: org.apache.spark.SparkException: Job 3 cancelled because SparkContext was shut down
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$cleanUpAfterSchedulerStop$1.apply(DAGScheduler.scala:935)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$cleanUpAfterSchedulerStop$1.apply(DAGScheduler.scala:933)
	at scala.collection.mutable.HashSet.foreach(HashSet.scala:78)
	at org.apache.spark.scheduler.DAGScheduler.cleanUpAfterSchedulerStop(DAGScheduler.scala:933)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onStop(DAGScheduler.scala:2129)
	at org.apache.spark.util.EventLoop.stop(EventLoop.scala:84)
	at org.apache.spark.scheduler.DAGScheduler.stop(DAGScheduler.scala:2042)
	at org.apache.spark.SparkContext$$anonfun$stop$7.apply$mcV$sp(SparkContext.scala:1963)
	at org.apache.spark.util.Utils$.tryLogNonFatalError(Utils.scala:1388)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:1962)
	at org.apache.spark.scheduler.cluster.YarnClientSchedulerBackend$MonitorThread.run(YarnClientSchedulerBackend.scala:122)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:740)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2081)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2102)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2121)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:365)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3383)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset$$anonfun$53.apply(Dataset.scala:3364)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3363)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2544)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2758)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:254)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:291)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

In [ ]:
avr_reimbursement = exp_sdp_avr_v2.join(exp_sdp_remboursement_recharge_v2, 'final_anon_mdn', how='left').select('final_anon_mdn', 'timestamp', 'event_time').toPandas()

In [11]:
avr_reimbursement.head(10)

              final_anon_mdn              timestamp          event_time
0  0009199021916181057050608  2022-11-08 09:38:12.0 2022-12-02 19:58:09
1  0009199021916181057050608  2022-11-08 09:38:12.0 2022-11-07 20:41:35
2  0009199021916181057050608  2022-11-08 09:38:12.0 2022-12-30 18:43:51
3  0009199021916181057050608  2022-11-08 09:38:12.0 2022-11-20 16:05:31
4  0009199021916181057050608  2022-11-08 09:38:12.0 2022-11-16 16:41:17
5  0009199021916181057050608  2022-11-08 09:38:12.0 2022-12-08 11:12:38
6  0009199021916181057050608  2022-11-08 09:38:12.0 2022-12-27 13:52:08
7  0009199021916181057050608  2022-11-08 09:38:12.0 2022-12-05 14:22:23
8  0009199021916181057050608  2022-11-08 09:38:12.0 2022-11-10 21:26:31
9  0009199021916181057050608  2022-11-08 09:38:12.0 2022-12-16 16:18:18

In [13]:
len(avr_reimbursement)

988061

In [12]:
avr_reimbursement['timestamp'] = pd.to_datetime(avr_reimbursement['timestamp'])
avr_reimbursement['reinbursement_time'] = avr_reimbursement.apply(
    lambda row: date_final_obs if (pd.isnull(row['event_time']) or row['event_time'] < row['timestamp']) 
    else row['event_time'], axis=1)
avr_reimbursement.head(20)

,final_anon_mdn,timestamp,event_time,reinbursement_time
0,0009199021916181057050608,2022-11-08 09:38:12,2022-12-02 19:58:09,2022-12-02 19:58:09
1,0009199021916181057050608,2022-11-08 09:38:12,2022-11-07 20:41:35,2023-02-01 00:00:00
2,0009199021916181057050608,2022-11-08 09:38:12,2022-12-30 18:43:51,2022-12-30 18:43:51
3,0009199021916181057050608,2022-11-08 09:38:12,2022-11-20 16:05:31,2022-11-20 16:05:31
4,0009199021916181057050608,2022-11-08 09:38:12,2022-11-16 16:41:17,2022-11-16 16:41:17
5,0009199021916181057050608,2022-11-08 09:38:12,2022-12-08 11:12:38,2022-12-08 11:12:38
6,0009199021916181057050608,2022-11-08 09:38:12,2022-12-27 13:52:08,2022-12-27 13:52:08
7,0009199021916181057050608,2022-11-08 09:38:12,2022-12-05 14:22:23,2022-12-05 14:22:23
8,0009199021916181057050608,2022-11-08 09:38:12,2022-11-10 21:26:31,2022-11-10 21:26:31
9,0009199021916181057050608,2022-11-08 09:38:12,2022-12-16 16:18:18,2022-12-16 16:18:18
10,0009199021916181057050608,2022-11-08 09:38:12,2022-11-05 18:27:18,2023-02-01 00:00:00
11,0009199021916181057050608,2022-11-08 09:38:12,2022-12-13 22:02:31,2022-12-13 22:02:31
12,0009199021916181057050608,2022-11-08 09:38:12,2022-12-17 13:16:38,2022-12-17 13:16:38
13,0009199021916181057050608,2022-11-08 09:38:12,2023-01-01 16:21:26,2023-01-01 16:21:26
14,0009199021916181057050608,2022-11-08 09:38:12,2022-12-15 22:04:33,2022-12-15 22:04:33
15,0009199021916181057050608,2022-11-08 09:38:12,2022-12-20 23:27:15,2022-12-20 23:27:15
16,0009199021916181057050608,2022-11-08 09:38:12,2022-11-27 17:06:07,2022-11-27 17:06:07
17,0009199021916181057050608,2022-11-08 09:38:12,2023-01-03 16:11:52,2023-01-03 16:11:52
18,0009199021916181057050608,2022-11-08 09:38:12,2022-12-11 22:39:33,2022-12-11 22:39:33
19,0009199021916181057050608,2022-11-08 09:38:12,2022-11-03 20:23:26,2023-02-01 00:00:00

In [19]:
avr_reimbursement['date_diff'] = pd.to_datetime(avr_reimbursement['reinbursement_time']) - pd.to_datetime(avr_reimbursement['timestamp'])
avr_reimbursement['date_diff'] = avr_reimbursement['date_diff'].dt.days
avr_reimbursement['flag'] = (avr_reimbursement['date_diff'] <= 45).astype(int)

In [20]:
avr_reimbursement.head(70)

,final_anon_mdn,timestamp,event_time,reinbursement_time,date_diff,flag
0,0009199021916181057050608,2022-11-08 09:38:12,2022-12-02 19:58:09,2022-12-02 19:58:09,24,1
1,0009199021916181057050608,2022-11-08 09:38:12,2022-11-07 20:41:35,2023-02-01 00:00:00,84,0
2,0009199021916181057050608,2022-11-08 09:38:12,2022-12-30 18:43:51,2022-12-30 18:43:51,52,0
3,0009199021916181057050608,2022-11-08 09:38:12,2022-11-20 16:05:31,2022-11-20 16:05:31,12,1
4,0009199021916181057050608,2022-11-08 09:38:12,2022-11-16 16:41:17,2022-11-16 16:41:17,8,1
5,0009199021916181057050608,2022-11-08 09:38:12,2022-12-08 11:12:38,2022-12-08 11:12:38,30,1
6,0009199021916181057050608,2022-11-08 09:38:12,2022-12-27 13:52:08,2022-12-27 13:52:08,49,0
7,0009199021916181057050608,2022-11-08 09:38:12,2022-12-05 14:22:23,2022-12-05 14:22:23,27,1
8,0009199021916181057050608,2022-11-08 09:38:12,2022-11-10 21:26:31,2022-11-10 21:26:31,2,1
9,0009199021916181057050608,2022-11-08 09:38:12,2022-12-16 16:18:18,2022-12-16 16:18:18,38,1
10,0009199021916181057050608,2022-11-08 09:38:12,2022-11-05 18:27:18,2023-02-01 00:00:00,84,0
11,0009199021916181057050608,2022-11-08 09:38:12,2022-12-13 22:02:31,2022-12-13 22:02:31,35,1
12,0009199021916181057050608,2022-11-08 09:38:12,2022-12-17 13:16:38,2022-12-17 13:16:38,39,1
13,0009199021916181057050608,2022-11-08 09:38:12,2023-01-01 16:21:26,2023-01-01 16:21:26,54,0
14,0009199021916181057050608,2022-11-08 09:38:12,2022-12-15 22:04:33,2022-12-15 22:04:33,37,1
15,0009199021916181057050608,2022-11-08 09:38:12,2022-12-20 23:27:15,2022-12-20 23:27:15,42,1
16,0009199021916181057050608,2022-11-08 09:38:12,2022-11-27 17:06:07,2022-11-27 17:06:07,19,1
17,0009199021916181057050608,2022-11-08 09:38:12,2023-01-03 16:11:52,2023-01-03 16:11:52,56,0
18,0009199021916181057050608,2022-11-08 09:38:12,2022-12-11 22:39:33,2022-12-11 22:39:33,33,1
19,0009199021916181057050608,2022-11-08 09:38:12,2022-11-03 20:23:26,2023-02-01 00:00:00,84,0
20,0042093647936468925916828,2022-11-22 13:03:39,2023-01-20 23:01:40,2023-01-20 23:01:40,59,0
21,0042093647936468925916828,2022-11-22 13:03:39,2022-12-07 23:25:00,2022-12-07 23:25:00,15,1
22,0042093647936468925916828,2022-11-22 13:03:39,2022-11-06 15:28:40,2023-02-01 00:00:00,70,0
23,0042093647936468925916828,2022-11-22 13:03:39,2022-11-01 18:34:59,2023-02-01 00:00:00,70,0
24,0042093647936468925916828,2022-11-22 13:03:39,2022-11-28 22:12:48,2022-11-28 22:12:48,6,1
25,0042093647936468925916828,2022-11-22 13:03:39,2022-12-05 22:37:17,2022-12-05 22:37:17,13,1
26,0042093647936468925916828,2022-11-22 13:03:39,2022-12-12 23:03:02,2022-12-12 23:03:02,20,1
27,0042093647936468925916828,2022-11-22 13:03:39,2022-12-24 17:07:25,2022-12-24 17:07:25,32,1
28,0042093647936468925916828,2022-11-22 13:03:39,2023-01-05 12:29:56,2023-01-05 12:29:56,43,1
29,0042093647936468925916828,2022-11-22 13:03:39,2023-01-26 04:44:20,2023-01-26 04:44:20,64,0
30,0042093647936468925916828,2022-11-22 13:03:39,2022-11-14 23:03:10,2023-02-01 00:00:00,70,0
31,0042093647936468925916828,2022-11-22 13:03:39,2022-12-18 15:07:01,2022-12-18 15:07:01,26,1
32,0042093647936468925916828,2022-11-22 13:03:39,2022-11-19 20:15:59,2023-02-01 00:00:00,70,0
33,0042093647936468925916828,2022-11-22 13:03:39,2022-12-16 14:10:03,2022-12-16 14:10:03,24,1
34,0042093647936468925916828,2022-11-22 13:03:39,2023-01-19 00:23:40,2023-01-19 00:23:40,57,0
35,0042093647936468925916828,2022-11-22 13:03:39,2023-01-07 00:05:02,2023-01-07 00:05:02,45,1
36,0042093647936468925916828,2022-11-22 13:03:39,2022-11-11 16:23:23,2023-02-01 00:00:00,70,0
37,0042093647936468925916828,2022-11-22 13:03:39,2022-11-02 12:03:39,2023-02-01 00:00:00,70,0
38,0042093647936468925916828,2022-11-22 13:03:39,2023-01-08 01:30:06,2023-01-08 01:30:06,46,0
39,0042093647936468925916828,2022-11-22 13:03:39,2022-12-06 23:58:37,2022-12-06 23:58:37,14,1
40,0042093647936468925916828,2022-11-22 13:03:39,2022-11-13 20:15:56,2023-02-01 00:00:00,70,0
41,0042093647936468925916828,2022-11-22 13:03:39,2023-01-27 20:33:02,2023-01-27 20:33:02,66,0
42,0042093647936468925916828,2022-11-22 13:03:39,2022-12-14 23:22:12,2022-12-14 23:22:12,22,1
43,0042093647936468925916828,2022-11-22 13:03:39,2023-01-24 22:50:17,2023-01-24 22:50:17,63,0
44,0042093647936468925916828,2022-11-22 13:03:39,2023-01-03 19:04:29,2023-01-03 19:04:29,42,1
45,0042093647936468925916828,2022-11-22 13:03:39,2022-12-11 14:45:34,2022-12-11 14:45:34,19,1
46,0042093647936468925916828,2022-11-22 13:03:39,2022-11-03 11:28:55,2023-02-01 00:00:00,70,0
47,0042093647936468925916828,2022-11-22 13:03:39,2022-11-03 22:44:33,2023-02-01 00:00:00,70,0
48,0056047737941475902994905,2022-11-25 20:06:08,NaT,2023-02-01 00:00:00,67,0
49,0065077430527166987904116,2022-11-25 04:32:27,2022-11-01 03:16:42,2023-02-01 00:00:00,67,0
50,0065077430527166987904116,2022-11-25 04:32:27,2022-12-30 15:22:04,2022-12-30 15:22:04,35,1
51,0065077430527166987904116,2022-11-25 04:32:27,2022-12-03 18:39:32,2022-12-03 18:39:32,8,1
52,0065077430527166987904116,2022-11-25 04:32:27,2022-12-08 07:48:50,2022-12-08 07:48:50,13,1
53,0065077430527166987904116,2022-11-25 04:32:27,2022-12-27 20:48:01,2022-12-27 20:48:01,32,1
54,0065077430527166987904116,2022-11-25 04:32:27,2022-12-19 14:00:11,2022-12-19 14:00:11,24,1
55,0065077430527166987904116,2022-11-25 04:32:27,2022-12-05 17:10:21,2022-12-05 17:10:21,10,1
56,0065077430527166987904116,2022-11-25 04:32:27,2023-01-28 17:40:08,2023-01-28 17:40:08,64,0
57,0065077430527166987904116,2022-11-25 04:32:27,2022-11-22 04:58:09,2023-02-01 00:00:00,67,0
58,0065077430527166987904116,2022-11-25 04:32:27,2023-01-07 20:07:19,2023-01-07 20:07:19,43,1
59,0065077430527166987904116,2022-11-25 04:32:27,2023-01-26 18:07:48,2023-01-26 18:07:48,62,0
60,0065077430527166987904116,2022-11-25 04:32:27,2023-01-12 21:31:10,2023-01-12 21:31:10,48,0
61,0065077430527166987904116,2022-11-25 04:32:27,2023-01-20 00:29:06,2023-01-20 00:29:06,55,0
62,0065077430527166987904116,2022-11-25 04:32:27,2022-11-05 22:04:59,2023-02-01 00:00:00,67,0
63,0065077430527166987904116,2022-11-25 04:32:27,2022-11-17 22:39:16,2023-02-01 00:00:00,67,0
64,0065077430527166987904116,2022-11-25 04:32:27,2023-01-06 21:29:15,2023-01-06 21:29:15,42,1
65,0065077430527166987904116,2022-11-25 04:32:27,2022-12-10 22:19:13,2022-12-10 22:19:13,15,1
66,0065077430527166987904116,2022-11-25 04:32:27,2022-12-17 20:31:35,2022-12-17 20:31:35,22,1
67,0065077430527166987904116,2022-11-25 04:32:27,2022-12-23 23:03:03,2022-12-23 23:03:03,28,1
68,0065077430527166987904116,2022-11-25 04:32:27,2023-01-01 02:53:35,2023-01-01 02:53:35,36,1
69,0065077430527166987904116,2022-11-25 04:32:27,2022-12-04 17:13:01,2022-12-04 17:13:01,9,1

In [21]:
avr_reimbursement = avr_reimbursement[['final_anon_mdn', 'flag']].groupby('final_anon_mdn').max().reset_index()
avr_reimbursement.head(20)

               final_anon_mdn  flag
0   0000114774094661096041701     1
1   0000141208700050020071451     1
2   0000148619366931089070772     0
3   0000171673299210037031363     1
4   0000173671915411081020422     1
5   0000175041587290050061023     0
6   0000178886770511099080890     1
7   0000193047229701009020370     1
8   0001111643760381032040938     0
9   0001121018354190093090178     1
10  0001126974176240045080842     0
11  0001133314137349033060288     0
12  0001135100823159038020397     1
13  0001142945347800049030270     1
14  0001144253436220006030272     0
15  0001152919638559008040697     1
16  0001156694862089090080340     1
17  0001185757684559065010002     1
18  0001185888515510010020826     0
19  0001193660859650012041381     0

In [24]:
mdns = tuple(avr_reimbursement['final_anon_mdn'].tolist())

In [25]:
for table in tables:
    date_start_reformat = date_start.replace('-', '')
    date_data_origin_reformat = date_data_origin.replace('-', '')

    table_desc = spark.sql(f"DESCRIBE tel_test_avrd.{table}")
    col_list = [col for col in table_desc.toPandas()['col_name'] if col not in {'id_date', '# col_name', 
                                                                                '# Partition Information', 'final_anon_mdn', 
                                                                                'id_date'}]

    variables = ""
    for col in col_list:
        variables += f", SUM({col}) AS sum_{col}, MAX({col}) AS max_{col}, MIN({col}) AS min_{col}, VARIANCE({col}) AS var_{col}, SUM(CASE WHEN {col} > 0 THEN 1 ELSE 0 END) AS cnt_{col}"
    
    query = f"""SELECT final_anon_mdn {variables}, DATEDIFF('{date_start}', CONCAT(SUBSTRING(MAX(id_date), 1, 4), '-', SUBSTRING(MAX(id_date), 5, 2), '-', SUBSTRING(MAX(id_date), 7, 2))) AS recency_{table} 
    FROM tel_test_avrd.{table} 
    WHERE id_date < '{date_start_reformat}' AND id_date >= '{date_data_origin_reformat}' AND final_anon_mdn IN {mdns} 
    GROUP BY final_anon_mdn"""
    data = spark.sql(query).toPandas()
    avr_reimbursement = avr_reimbursement.merge(data, on="final_anon_mdn", how='left')

Py4JJavaError: An error occurred while calling o165.collectToPython.
: org.apache.spark.SparkException: Job 8 cancelled because SparkContext was shut down
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$cleanUpAfterSchedulerStop$1.apply(DAGScheduler.scala:935)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$cleanUpAfterSchedulerStop$1.apply(DAGScheduler.scala:933)
	at scala.collection.mutable.HashSet.foreach(HashSet.scala:78)
	at org.apache.spark.scheduler.DAGScheduler.cleanUpAfterSchedulerStop(DAGScheduler.scala:933)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onStop(DAGScheduler.scala:2129)
	at org.apache.spark.util.EventLoop.stop(EventLoop.scala:84)
	at org.apache.spark.scheduler.DAGScheduler.stop(DAGScheduler.scala:2042)
	at org.apache.spark.SparkContext$$anonfun$stop$7.apply$mcV$sp(SparkContext.scala:1963)
	at org.apache.spark.util.Utils$.tryLogNonFatalError(Utils.scala:1388)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:1962)
	at org.apache.spark.scheduler.cluster.YarnClientSchedulerBackend$MonitorThread.run(YarnClientSchedulerBackend.scala:122)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:740)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2081)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2102)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2121)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2146)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:945)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:944)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:299)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:3257)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:3254)
	at org.apache.spark.sql.Dataset$$anonfun$53.apply(Dataset.scala:3364)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3363)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3254)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

In [4]:
%%time
k = 3 

date_start = dates[k]
date_end = dates[k+1]
date_final_obs = dates[k+3]
date_data_origin = dates[k-3]

exp_sdp_remboursement_recharge_v2 = spark.sql(f"""SELECT * 
FROM 
tel_test_avrd.exp_sdp_remboursement_recharge_v2 
WHERE event_time >= '{date_start}' AND event_time < '{date_final_obs}'""")

exp_sdp_avr_v2 = spark.sql(f"""SELECT * 
FROM tel_test_avrd.exp_sdp_avr_v2 
WHERE timestamp >= '{date_start}' AND timestamp < '{date_end}' 
ORDER BY RAND() LIMIT 100000""")

avr_reimbursement = exp_sdp_avr_v2.join(exp_sdp_remboursement_recharge_v2, 'final_anon_mdn', how='left').select('final_anon_mdn', 'timestamp', 'event_time').toPandas()

avr_reimbursement['timestamp'] = pd.to_datetime(avr_reimbursement['timestamp'])
avr_reimbursement['reinbursement_time'] = avr_reimbursement.apply(
    lambda row: date_final_obs if (pd.isnull(row['event_time']) or row['event_time'] < row['timestamp']) 
    else row['event_time'], axis=1)

avr_reimbursement['date_diff'] = pd.to_datetime(avr_reimbursement['reinbursement_time']) - pd.to_datetime(avr_reimbursement['timestamp'])
avr_reimbursement['date_diff'] = avr_reimbursement['date_diff'].dt.days
avr_reimbursement['flag'] = (avr_reimbursement['date_diff'] <= 45).astype(int)
avr_reimbursement = avr_reimbursement[['final_anon_mdn', 'flag']].groupby('final_anon_mdn').max().reset_index()

mdns = tuple(avr_reimbursement['final_anon_mdn'].tolist())

for table in tables:
    date_start_reformat = date_start.replace('-', '')
    date_data_origin_reformat = date_data_origin.replace('-', '')

    table_desc = spark.sql(f"DESCRIBE tel_test_avrd.{table}")
    col_list = [col for col in table_desc.toPandas()['col_name'] if col not in {'id_date', '# col_name', '# Partition Information', 'final_anon_mdn', 'id_date'}]

    variables = ""
    for col in col_list:
        variables += f", SUM({col}) AS sum_{col}, MAX({col}) AS max_{col}, MIN({col}) AS min_{col}, VARIANCE({col}) AS var_{col}, SUM(CASE WHEN {col} > 0 THEN 1 ELSE 0 END) AS cnt_{col}"
    
    query = f"""SELECT final_anon_mdn {variables}, DATEDIFF('{date_start}', CONCAT(SUBSTRING(MAX(id_date), 1, 4), '-', SUBSTRING(MAX(id_date), 5, 2), '-', SUBSTRING(MAX(id_date), 7, 2))) AS recency_{table} 
    FROM tel_test_avrd.{table} 
    WHERE id_date < '{date_start_reformat}' AND id_date >= '{date_data_origin_reformat}' AND final_anon_mdn IN {mdns} 
    GROUP BY final_anon_mdn"""
    data = spark.sql(query).toPandas()
    avr_reimbursement = avr_reimbursement.merge(data, on="final_anon_mdn", how='left')

query = f"""SELECT 
final_anon_mdn, 
COUNT(1) AS cnt_req_avr, 
SUM(CASE WHEN reason_of_failure = 'Success' AND grantedadvance IS NOT NULL THEN 1 ELSE 0 END) AS cnt_success_avr 
FROM tel_test_avrd.exp_sdp_avr_v2 
WHERE timestamp < '{date_start}' AND final_anon_mdn IN {mdns} 
GROUP BY final_anon_mdn"""

avr = spark.sql(query).toPandas()
avr_reimbursement = avr_reimbursement.merge(avr, on="final_anon_mdn", how='left')

file_name = f'data_{date_start}.csv'
avr_reimbursement.to_csv(file_name, index=False)

Py4JJavaError: An error occurred while calling o165.collectToPython.
: org.apache.spark.SparkException: Job 7 cancelled because SparkContext was shut down
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$cleanUpAfterSchedulerStop$1.apply(DAGScheduler.scala:935)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$cleanUpAfterSchedulerStop$1.apply(DAGScheduler.scala:933)
	at scala.collection.mutable.HashSet.foreach(HashSet.scala:78)
	at org.apache.spark.scheduler.DAGScheduler.cleanUpAfterSchedulerStop(DAGScheduler.scala:933)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onStop(DAGScheduler.scala:2129)
	at org.apache.spark.util.EventLoop.stop(EventLoop.scala:84)
	at org.apache.spark.scheduler.DAGScheduler.stop(DAGScheduler.scala:2042)
	at org.apache.spark.SparkContext$$anonfun$stop$7.apply$mcV$sp(SparkContext.scala:1963)
	at org.apache.spark.util.Utils$.tryLogNonFatalError(Utils.scala:1388)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:1962)
	at org.apache.spark.scheduler.cluster.YarnClientSchedulerBackend$MonitorThread.run(YarnClientSchedulerBackend.scala:122)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:740)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2081)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2102)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2121)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2146)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:945)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:944)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:299)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:3257)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:3254)
	at org.apache.spark.sql.Dataset$$anonfun$53.apply(Dataset.scala:3364)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3363)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3254)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)